<ion-view view-title="How to Use" class="view">
 <ion-nav-bar class="bar-dark">
   <ion-content>

    
    <h3><b>Tracking</b> <br></h3>
    <p>Step 1: Go to settings -> Track settings<br>
    Step 2: Then Register a number (email optional) you want to send your location to <br>
    </p>
    <h3><b>Navigating</b><br></h3>
    <p>  Step 1: Go to settings -> Navigator settings<br>
    Step 2: Save your 'Home' coordinates and 'work' coordinates<br>
    </p>

   </ion-content> 
  </ion-nav-bar >
</ion-view>